.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #009999;
}

.navigation li {
    float: left;
}

.navigation li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navigation li a:hover {
    background-color: #004d4d;
}

.navigation .active {
    background-color: #00cccc;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #b3cccc;
    text-align: center;
}

.footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #b3cccc;
}

.footer li {
    float: left;
}

.footer li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
}

img {
    image-orientation: from-image;
}